body {
}

.headerClass {
    margin-top: 124px;
    margin-left: 100px;
    display: block;
    color: #BD1F1F;
    font-style: strong;
    text-align: center;
    width: 693.76px;
}

.mainContent {
	margin-top: 20px;
	margin-left: 165px;
}

#greetingOutput {
    height: 20px; 
    margin-bottom: 40px;
    color: #16E71D;
}

input[type=text]
{
    width: 400px;
}

input[type=text]::-ms-clear
{
	border: 2px solid orange
}
}
